*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}


.p10
{
    padding:10px;
}
.mt10
{
  margin-top: 10px;
}
.outlineNone
{
  outline: none!important;
}
/* == HEADER ==  */
#header{ 
    display: flex;
    position: fixed;
    height: 82px;
    background-color: #096B54;
    justify-content: space-between;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    padding: 0px 32px;
    align-items: center;
    flex-shrink: 1;
}
/* Logo Icon */
.logoImg{
    width: 112px;
    height: 56px;
}
/* Search Box */
.search-box {
    position: relative;
    display: flex;
    text-align: center;
  }
.searchButton {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
  border: none;
  background-color: #68E89A;
  }
  .searchButton span
  {
    font-size: 20px;
    color: #fff;
    margin-left: 10px;
    font-weight: 600;
  }
  .searchIcon
  {
    width: 18px;
    color: #fff;
    font-size: 20px;
  }
  
  .searchButton:hover .searchIcon
  {
    animation: bellRing 0.9s both;
  }
@keyframes bellRing {
  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: rotateZ(10deg);
  }

  30% {
    transform: rotateZ(-10deg);
  }

  45% {
    transform: rotateZ(5deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }

  75% {
    transform: rotateZ(2deg);
  }
}
.searchButton:active {
  transform: scale(0.8);
}
/* Modal Search Box */
/* The Modal */
.modalBox {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
 /* overflow: auto;*/ /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  transition: height 0.5s ease, opacity 0.5s ease; /* Thêm transition cho height và opacity */
  opacity: 0; /* Đặt opacity mặc định của modal */
}
/* Modal Content */
.modal-content {
  position: fixed;
  top: 0;
  background-color: #fefefe;
  width: 100%;
  height: 35%;

  transition: expandHeight 0.4s ease; 
  -webkit-animation-name: slideIn;
  -webkit-animation-name: slideUp;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-name: slidUp;
  animation-duration: 0.4s;
  transition: top 0.4s, opacity 0.4s; 
  transition: height 0.4s ease;
}
.expanded {
  height: 75%; /* Chiều cao khi mở rộng */
}
.modal-header {
  padding: 2px 16px;
  border: none;
}
/* The Close Button */
.closeBtn {
  left: 94%;
  margin-top: 12px;
  position: relative;
  width: 100px;
  height: 50px;
  right: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .3s;
  border: none;
}
.closeIcon {
  padding-top: 3px;
  padding-right: 23px;
  width: 18px;
  font-size: 26px;
  color: #000;

}
.closeBtn:hover .closeIcon {
  animation: bellRing 0.9s both;
  cursor: pointer;
}
.closeBtn span{
  font-size: 20px;
}
/* bell ringing animation keyframes*/
@keyframes bellRing {
  0%,
  100% {
    transform-origin: top;
  }

  15% {
    transform: rotateZ(10deg);
  }

  30% {
    transform: rotateZ(-10deg);
  }

  45% {
    transform: rotateZ(5deg);
  }

  60% {
    transform: rotateZ(-5deg);
  }

  75% {
    transform: rotateZ(2deg);
  }
}
.closeBtn:active {
  transform: scale(0.8);
}
/* Add Animation for Modal */
@-webkit-keyframes slideIn {
  from {top: -300px; opacity: 0} 
  to {top: 0; opacity: 1}
}

@keyframes slideIn {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
/* Animation for hiding the modal */
@keyframes slideUp {
  from {
      top: 0;
      opacity: 1;
  }
  to {
      top: -3px;
      opacity: 0;
  }
}
.modal-body {
  padding: 2px 16px;
  /* overflow: auto; */
}
/* Search Bar */

.container-input {
  display: flex;
  position: absolute;
  justify-content: center;
  left: 19%;
  width: 50%;
  z-index: 10000;
  align-items: center;
}
.SearchInput {
  width:60%;
  border: none;
  padding: 10px 0px 10px 40px;
  border-bottom: solid .5px #bdbdbd;
  transition: all .2s ease-in-out;
  outline: none;
  opacity: 0.8;
  background-color: transparent;
  font-size: 20px;
}
.SearchInput::placeholder
{
  color: #fff;
}
.SearchInput:focus {
  opacity: 1;
  width:100%;
}
.SearchInput::placeholder
{
  font-size: 20px;
}
/* Popular Search */
.popularSearch {
  margin-left: 17%;
  width: 67%;
  border-bottom:1px solid #dadce0;
  padding-bottom: 10px;
}
.popularSearch h2 
{
  align-items: center;
  margin-top: 20px;
}
.UserPopularItem
{
  margin-top: 25px;
  display:flex;
  display: flex;
  -webkit-box-pack: justify;
}
.popularItem a
{
  font-size: 20px;
  padding:0 15px; 
}
.popularItem:hover
{
  background-color: #bdbdbd;
  cursor: pointer;
}
/* Popular Item */
.ui-btn
{
  border-radius: 10px;
  height: 50px;
  width: 150px;
  margin: 0 20px;
  transition: 0.3s;
}
.ui-btn a 
{
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}
.ui-btn:hover , .ui-btn a:hover 
{
background-color: #f1f1f1;
}
/* Suggesttion Items for User */
.suggest_item
{
  margin-top: 36px;
  display: flex;
  justify-content: space-around;
}
.card-item {
  box-sizing: border-box;
  width: 22%;
  height: 20rem;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
  transition: transform 5s ease, opacity 0.5s ease;

}
.card-item:hover {
  transform: scale(1.05);
}
.card-item:active {
  transform: scale(0.95) rotateZ(1.7deg);
}
 /* Image Card */
 .img-card {
  position: relative;
  border-radius: 5px;  
}
.img-card .card-image {
      position: relative;
      margin: auto;
      overflow: hidden;
      border-radius: 5px 5px 0px 0px;
  }
.img-card .card-image img {
      height: 143px;
      width:100%;
      border-radius: 17px 17px 0px 0px;
      -webkit-transition: all 0.8s;
      -moz-transition: all 0.8s;
      -o-transition: all 0.8s;
      transition: all 0.8s;
  }  
  .img-card .card-text {
      padding: 0 15px 15px;
      line-height: 1.5;   
  }

  .img-card .card-link {
      padding: 20px 15px 30px;
      width: -webkit-fill-available;
  }

      .img-card .card-link a {
          text-decoration: none;
          position: relative;
          padding: 10px 0;
      }

      .img-card .card-link a:after {
          top: 30px;
          content: "";
          display: block;
          height: 2px;
          left: 50%;
          position: absolute;
          width: 0;
          -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
          -moz-transition: width 0.3s ease 0s, left 0.3s ease 0s;
          -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
      }
      .img-card .card-link a:hover:after { 
          width: 100%; 
          left: 0; 
      }        
  .img-card.iCard-style1 .card-title {
      position: absolute;
      font-family: 'Open Sans', sans-serif;
      z-index: 1;
      top: 10px;
      left: 10px;
      font-size: 30px;
      color: #fff;
  }
  
  .img-card.iCard-style1 .card-text {            
      color: #795548;
  }

  .img-card.iCard-style1 .card-link a {
      color: #FF9800;                
  }

  .img-card.iCard-style1 .card-link a:after {            
      background: #FF9800;
  }
/*Resize the wrap to see the search bar change!*/
.wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
/* Right - infomation */
.subnav
{
    margin-right: 9%;
    display: flex;
    flex-shrink: 1;
    align-items: center;
    flex-shrink: 1;
    width: 211px;
    gap: 10px;
    justify-content: space-between;
}
/* myCourse Button */
.btn
{
    display: inline-block;
    border-radius: 12px; 
    border: none;
    color: #000;
    text-align: center;
    font-size: 17px;
    padding: 12px;
    width: 185px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    background-color: #BBF9D4;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}
.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s; 
    text-align: center;
    font-size: 17px;
    font-weight: 10px;  
}
.btn span:after{
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
}
.btn:hover span {
    padding-right: 15px;
}
.btn:hover span:after {
    opacity: 1;
    right: 0;
    /*  */
} 
/* Shopping Box */
        /* ==> Shopping Icon */
.shopCart_icon
{
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: .3s;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.13);
    border: none; 
}
.shoppingCart
{
    color: #fff;
    width: 18px;
}
.shopCart_icon:hover
{
    background-color: transparent;
}
.shopCart_icon:hover .shoppingCart
{
    animation: shoppingRing 0.9s both;
}
  /* bell ringing animation keyframes*/
  @keyframes shoppingRing {
    0%,
    100% {
      transform-origin: top;
    }
  
    15% {
      transform: rotateZ(10deg);
    }
  
    30% {
      transform: rotateZ(-10deg);
    }
  
    45% {
      transform: rotateZ(5deg);
    }
  
    60% {
      transform: rotateZ(-5deg);
    }
  
    75% {
      transform: rotateZ(2deg);
    }
  }
  .shopCart_icon:active {
    transform: scale(0.8);
  }
    
/* Notification Box */
       /* ==> Notice Box */
       .notiBox_menu:hover {
        display: block;
      }
      .notiBox_menu {
        inset: 0px 0px auto auto;
        background-color: #fff;
        text-align: left;
        border-radius: 5px;
        position: absolute;
        /* left: 95rem; */
        /* left: 77rem; */
        right:1rem;
        top:5rem;
        width: 19rem;
        height: 284px;
        perspective: 1000px;
        z-index: 9999;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        display: none; 
      }
      .notification_content
      {
        height: 215px;
        overflow-y: auto; 
      }
      .notiBox_menu li {
        padding: 10px 10px;
        font-size: 16px;
        opacity: 0;
        list-style-type: none;
      }
      
      .notiBox_menu li a {
        color: #000;
        width: 160px;
        line-height: 20px;
        text-decoration: none;
        font-size: 15px;  
      }
      
      .notiBox_menu li:hover {
        visibility: visible;
          opacity: 1;
          display: block;
          text-align: left;
      }
      .notiBox_menu li:hover a {
        padding-left: 10px;
        border-left: 1px solid #D9D9D9;
        transition: all 1s ease;
      }
      
      .notiBox_menu--animated {
        display: none;
      }
      
      .notiBox_menu--animated li {
        display: block;
        opacity: 1;
      }
      
      .dropdown-1 .notiBox_item {
        transform-origin: top center;
        animation: slideDown 300ms 60ms ease-in-out forwards;
      }
      /* For SlideDown */
      @keyframes slideDown {
        0% {
          opacity: 0;
          transform: translateY(-60px);
        }
      
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      } 
    
.showAllcontent
{
  align-items: center;
    background-color: #fff;
    border-top: 1px solid rgba(0,0,0,.1);
    bottom: 0;
    color: var(--primary-color);
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    height: 44px;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}
.notiBox_menu header
{
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom:1px solid rgba(0,0,0,.1);
}
.noticeBox_name
{
  font-size: 20px;
  margin: 0;
  margin-left: 10px;

}
.showAllcontent a
{
  text-decoration: none;
  font-size: 15px;
  color:#096B54;
}
        /* ==> ScrollBar for Drop Down Menu  */
/* Tùy chỉnh thanh cuộn cho dropdown menu */
.notification_content::-webkit-scrollbar {
    width: 6px; 
}
/* Thanh cuộn phần trên và phần dưới của thanh cuộn */
.notification_content::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
    border-radius: 5px; 
}
/* Thumb - Phần di chuyển trên thanh cuộn */
.notification_content::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 5px; 
}
/* Thumb khi hover */
.notification_content::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}    
        /* ==> Bell Icon */
.bellIcon {
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: .3s;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.13);
    border: none;
    outline: none;
  }
  
  .bell {
    width: 18px;
  }
  
  .bell path {
    fill: white;
  }
  
  .bellIcon:hover {
    background-color: transparent;
  }
  
  .bellIcon:hover .bell {
    animation: bellRing 0.9s both;
  }
  
  /* bell ringing animation keyframes*/
  @keyframes bellRing {
    0%,
    100% {
      transform-origin: top;
    }
  
    15% {
      transform: rotateZ(10deg);
    }
  
    30% {
      transform: rotateZ(-10deg);
    }
  
    45% {
      transform: rotateZ(5deg);
    }
  
    60% {
      transform: rotateZ(-5deg);
    }
  
    75% {
      transform: rotateZ(2deg);
    }
  }
  
  .bellIcon:active {
    transform: scale(0.8);
  }

/*Profile User */
    /* ==> Profile Drop down */
.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    font-size: 18px;
    perspective: 1000px;
    z-index: 100;
  }
  .dropdown:hover .dropdown-menu,
  .dropdown_menu:hover {
    display: block;
  }
  .dropdown_menu {
    background-color: #fff;
    text-align: left;
    border-radius: 5px;
    position: absolute;
    top: 12px;
    left: -9rem;
    width: 190px;
    height: 183px;
    perspective: 1000px;
    z-index: -1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none; 
  }
  .dropdown_menu li {
    padding: 10px 15px;
    font-size: 16px;
    opacity: 0;
    list-style-type: none;
  }
  
  .dropdown_menu li a {
    color: #000;
    width: 160px;
    line-height: 20px;
    text-decoration: none;
    font-size: 15px;
    
  }
  
  .dropdown_menu li:hover {
    visibility: visible;
      opacity: 1;
      display: block;
      text-align: left;
  }
  .dropdown_menu li:hover a {
    padding-left: 10px;
    border-left: 1px solid #D9D9D9;
    transition: all 1s ease;
  }
  
  .dropdown_menu--animated {
    display: none;
  }
  
  .dropdown_menu--animated li {
    display: block;
    opacity: 1;
  }
  
  .dropdown_menu-1 .dropdown_item {
    transform-origin: top center;
    animation: slideDown 300ms 60ms ease-in-out forwards;
  }
  
  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-6px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  } 

        /* ==> Avatar profile */
.AvaImg{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/*  == CONTENT PAGE == */
#main_content
{
    width: 87%;
    left: 4%;
    position: relative;
    margin-top: -3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    right: auto;
}
#content 
{
  gap: 20px;
   margin-left: 25px;
    display: flex;
    position: relative;
    padding:20px;
    margin-top: 96px;
    margin-bottom: -29px;
    /* justify-content: space-between; */
}

/* Sidebar_menu */
#siderbar_menu
{   
    display: inline-flex;
    margin-top: 30px;
    position: absolute;
    background: transparent;
}
.sub_sidebar
{ 
  position: sticky;
  top: 96px; /* Khoảng cách từ đỉnh trang đến sidebar menu */
  z-index: 10; /* Đảm bảo sidebar menu hiển thị trên các phần tử khác */
  display: flex;
  flex-direction: column;
  gap: 60px; /* Khoảng cách giữa các mục trong sidebar */
    
}
.select_topic 
{
    list-style-type: none;
    width: 114px;
    padding-left: 2.5%;
}
.select_topic li 
{
    margin-left: 0px;
    padding: 12px 16px;
    width: 80px;
}
.select_topic li a 
{
    text-decoration: none;
    color:#000;
}
/* Button ===< SideBar_menu */
button {
    position: relative;
    overflow: hidden;
    padding:10 15px;
    border-radius: 10px;
    font-weight: 100;
    background-size: 400%;
    color: #000;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 80px;
    background-color: #fff;
}
.menu_btn{
  margin-left: -17px;
}
.menu_btn span 
{
    padding:5px;
    font-size: 15px;
    font-weight: bold;
}
.icon
{
    position: relative;
    z-index: 1;
    display:inline-flex;
    align-items: center;
}
.icon1{
    font-size: 15px;
    padding:7px;
}
.menu_btn:hover::before {
    transform: scaleX(1);
  }
  
.button-content {
    position: relative;
    z-index: 1;
    display: block;
}
  
.menu_btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgb(209, 203, 212) 10.8%,
      rgb(223, 223, 229) 94.3%
    );
    transition: all 0.475s;
}

/* == FOOTERPAGE == */
footer {
    background-color: #151C1B;
    margin-top: 30px;
    margin-bottom: -23px;
    overflow: hidden;
}
.section
{
  position: relative;
  overflow: hidden;
  display: flex;
}
.revealUp {
  opacity: 0;
  
}
footer .footer-wrap {
    padding: 25px 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    color:#fff;
}
.special_name
{
    font-weight: 600;
    font-size: 20px;
    color: #BBD2C7;
}
/* Item 1 */
footer .footer-wrap h6 {
  padding: 20px 11px;

    font-weight: 900;
}
.about p 
{
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
}
/* Logo Icon */
.imgIcon{
    width: 112px;
    height: 56px;
    margin-bottom: 15px;
}
.Service p a , .Follow_us p a, .Contact p a{
    text-decoration: none;
    color: #fff;
    padding: 5px;
}
footer .footer-wrap .Service a:hover, footer .footer-wrap .Follow_us a:hover {
  cursor: pointer;    
  color: rgb(104, 232, 154);

}

footer .footer-wrap .Service p, footer .footer-wrap .Follow_us p {
cursor: pointer;  
color: rgb(104, 232, 154);

}
